 <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <!-- <div class="user-panel">
        <div class="pull-left image">
          <img src="dist/img/daysForGirls.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p><%= email %></p>
        </div>
      </div> -->

      <ul class="sidebar-menu">
        <li class="header">NAVIGATION</li>
        <li class="treeview">
          <a href="dashboard">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li class="treeview">
          <a href="usage">
            <i class="fa fa-calculator"></i> <span>Usage Calculator</span>
          </a>
        </li>
        <li class="treeview">
          <a href="updateStock">
            <i class="fa fa-table"></i> <span>Update Stock</span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-archive"></i> <span>New Stock</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="updateCategoriesStock"><i class="fa fa-circle-o"></i> Categories</a></li>
            <li><a href="updateItemsStock"><i class="fa fa-circle-o"></i> Items</a></li>
          </ul>
        </li>

<!--         <li class="treeview">
          <a href="trends">
            <i class="fa fa-line-chart"></i> <span>Trends</span>
          </a>
        </li>
 -->  </aside>