<!-- views/home.ejs -->
<!doctype html>
<html>
<!--<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <!--<style>
        body        { padding-top:80px; }
    </style>
</head> -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>InventBox</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="../../plugins/iCheck/square/blue.css">
</head>

<body class="hold-transition login-page">

<div style="padding-top: 10%"></div>

<div class="container">

    <div class="jumbotron text-center">
        <div class="login-logo">
            <b>Invent</b>Box</a>
        </div>

        <p>DEV INSTANCE</p>
        <p>Login or Register with:</p>
        
        <a href="/login" class="btn btn-primary btn-lg"><span class="fa fa-user" style="padding-right: 10px"></span>Login</a>
        <a href="/signup" class="btn btn-primary btn-lg"><span class="fa fa-user" style="padding-right: 10px"></span>Signup</a>
        
    </div>

</div>
</body>
</html>