<!DOCTYPE HTML>
<html>

  <% include ../partials/stylesheetLinks %>

  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <% include ../partials/header %>

        <% include ../partials/nav %>

    </div>


    <% include ../partials/scripts %>
  

  </body>
</html>