<!DOCTYPE html>
<html>

<% include ../partials/stylesheetLinks %>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

<% include ../partials/header %>

<% include ../partials/nav %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Update Items
        <small>Update the inventory with more or less items.</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Items</li>
        <li class="active">Update Existing Items</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-primary">
          <div>
            <form role="form" id="updateItemForm">
              <div class="box-body">   
                <div class="form-group">
                  <label>Select Item</label>
                  <select class="form-control" style="width: 25%">
                    <% items.forEach(function(item) { %>
                      <option><%= item.name %></option>
                    <% }); %>
                  </select>

                </div>

                <div class="form-group" style="width: 25%">
                  <label for="quantity">Quantity</label>
                  <input type="number" class="form-control" id="quantity" placeholder="">
                </div>
<!--                 <div class="form-group">
                  <label for="capture">OR Scan Barcode</label>
                  <input type="file" accept="image/*" id="capture" capture="camera">
                </div> -->
              </div>
                <!-- /.box-body -->

              <div class="box-footer">
                <button id="add" class="btn btn-primary" width="25px">Add</button>
                <button id="remove" class="btn btn-primary" width="25px">Remove</button>
              </div>
            </form>
          </div>
        </div>
    </section>
    <!-- /.content -->
  </div>

</div>
<!-- ./wrapper -->

<% include ../partials/scripts %>

<script>

  var addButton = document.getElementById("add");
  addButton.onclick = function() {
    var form = document.getElementById("updateItemForm");
    var itemName = form.elements[0].value;
    console.log(itemName);
    var quantity = form.elements[1].value;
    console.log(quantity);
    $.ajax({
      type: 'PUT',
      url: '/api/daily_inventory/' + itemName,
      data: { itemName: itemName, quantity: quantity }
    });
    alert("The inventory has been updated!");
  }

  var removeButton = document.getElementById("remove");
  removeButton.onclick = function() {

    var form = document.getElementById("updateItemForm");
    var itemName = form.elements[0].value;
    var quantity = form.elements[1].value;
    $.ajax({
        type: 'PUT',
        url: '/api/daily_inventory/' + itemName,
        data: { itemName: itemName, quantity: quantity }
      });
      alert("The inventory has been updated!");
    }

  }


  // $("#updateItemForm").submit(function(event) {
  //   var form = document.getElementById("updateItemForm");
  //   var itemName = form.elements[0].value;
  //   console.log(itemName);
  //   var quantity = form.elements[1].value;
  //   console.log(quantity);
  //   $.ajax({
  //     type: 'PUT',
  //     url: '/api/daily_inventory/' + itemName,
  //     data: { itemName: itemName, quantity: quantity }
  //   });
  //   alert("The inventory has been updated!");
  // });



</script>

</body>
</html>

