<!DOCTYPE html>
<html>

<% include ../partials/stylesheetLinks %>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

<% include ../partials/header %>

<% include ../partials/nav %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Usage Calculator
        <small>Calculate usage of an item within a date range.</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Usage Calculator</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box box-primary">
        
        <div>
        <form role="form" id="usageCalcForm">
              <div class="box-body">
                <div class="form-group">
                  <label for="startDate">Start Date</label>
                  <input type="text" class="form-control datepicker" id="startDate" placeholder="Choose a start date" style="width:25%;" required="required" name="startDate">
                </div>

                <div class="form-group">
                  <label for="endDate">End Date</label>
                  <input type="text" class="form-control datepicker" id="endDate" placeholder="Choose an end date" style="width:25%;" required="required" name="endDate">
                </div>

                <div class="form-group" style="width:25%;">
                  <label>Select item</label>
                  <select class="form-control" required="required" id="item" name="item">
                    <option disabled selected value></option>
                    <% results.forEach(function(result) { %>
                      <option><%= result.name %></option>
                    <% }); %>
                  </select>
                </div>
                
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Calculate</button>
              </div>
            </form>
        </div>
        </div>

    </section>
    <!-- /.content -->
  </div>

</div>
<!-- ./wrapper -->

<% include ../partials/scripts %>

<script>

  $('#usageCalcForm').validate({ // initialize the plugin
        rules: {
            //rules based on input names
            startDate: {
                required: true
            },
            endDate: {
                required: true
            },
            item: {
                required: true
            }
        },
        submitHandler: function (form) {
            //if form is valid, will submit and call specified function
            submitUsageCalcForm();
        }
    });

  function submitUsageCalcForm() {
    var form = document.getElementById("usageCalcForm");
    var startDate = form.elements[0].value;
    var endDate = form.elements[1].value;
    var item = form.elements[2].value;
    var category = form.elements[3].value;
    var id = JSON.parse('<%= id %>');

    $.ajax({
      type: 'POST',
      url: '/api/daily_inventory',
      data: { startDate: startDate, endDate: endDate, item: item, uid: id },
      success: function (data) {
        var quant = data[0].sum;
        console.log(quant);
        if (!quant) {
          quant = 0;
        }
        alert("Usage of " + item + " between the dates of " + startDate + " and " + endDate + " was " + quant + ".");
      }, 
      error: function (data) {
        alert("Something went wrong, please try calculating usage again!");
      }
    });
  }

  $('.datepicker').datepicker({
    format: 'yyyy-mm-dd'
  });


</script>

</body>
</html>
